<a href="https://colab.research.google.com/github/jibintom/Machine-Learning-Codebasics-/blob/main/a14.%20Naive%20Bayes%20Classifier%20Algorithm/Naive_Bayes_Classifier_Algorithm_Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
df=pd.read_csv("titanic_14.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [62]:
df=df[["Pclass","Sex","Age","Fare","Survived"]]
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [63]:
#checking for null values

df.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [64]:
df.columns[df.isna().any()] #another method for finding empty columns

Index(['Age'], dtype='object')

In [65]:
#filling empty age rows with mean value

df["Age"]=df.Age.fillna(df.Age.mean())

In [66]:
df.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [67]:
input=df.drop(["Survived"], axis=1)
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [68]:
target=df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Handling Categorical Values**

In [69]:
dummies=pd.get_dummies(df.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [70]:
input=pd.concat([input,dummies], axis=1)
input.drop(["Sex"], axis=1, inplace=True)
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

**Train the Data**

In [71]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input, target, test_size=.2)

Since our data is following  normal distribution we are going to use GaussianNB method under  naive_bayes

In [72]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7932960893854749

In [73]:
y_test[:10]

569    1
245    0
821    1
690    1
345    1
595    0
389    1
341    1
153    0
558    1
Name: Survived, dtype: int64

In [74]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1])

In [75]:
model.predict_proba(x_test[:10])

array([[9.90324092e-01, 9.67590808e-03],
       [5.91569866e-01, 4.08430134e-01],
       [9.89787745e-01, 1.02122549e-02],
       [8.61946623e-01, 1.38053377e-01],
       [4.38372414e-02, 9.56162759e-01],
       [9.90484811e-01, 9.51518860e-03],
       [3.84623431e-02, 9.61537657e-01],
       [3.45434253e-13, 1.00000000e+00],
       [9.90982831e-01, 9.01716908e-03],
       [2.70375728e-03, 9.97296243e-01]])