<a href="https://colab.research.google.com/github/jibintom/Machine-Learning-Codebasics-/blob/main/a14.%20Naive%20Bayes%20Classifier%20Algorithm/Naive_Bayes_Classifier_Algorithm_Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
df=pd.read_csv("titanic_14.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [38]:
df=df[["Pclass","Sex","Age","Fare","Survived"]]
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [39]:
#checking for null values

df.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [40]:
df.columns[df.isna().any()] #another method for finding empty columns

Index(['Age'], dtype='object')

In [41]:
#filling empty age rows with mean value

df["Age"]=df.Age.fillna(df.Age.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
df.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [43]:
input=df.drop(["Survived"], axis=1)
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [44]:
target=df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Handling Categorical Values**

In [45]:
dummies=pd.get_dummies(df.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [46]:
input=pd.concat([input,dummies], axis=1)
input.drop(["Sex"], axis=1, inplace=True)
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

**Train the Data**

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input, target, test_size=.2)

Since our data is following  normal distribution we are going to use GaussianNB method under  naive_bayes

In [56]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8044692737430168

In [57]:
y_test[:10]

713    0
117    0
47     1
15     1
579    1
635    1
502    0
289    1
124    0
770    0
Name: Survived, dtype: int64

In [58]:
model.predict(x_test[:10])

array([0, 0, 1, 1, 0, 1, 1, 1, 0, 0])

In [60]:
model.predict_proba(x_test[:10])

array([[0.99014217, 0.00985783],
       [0.97842286, 0.02157714],
       [0.08643964, 0.91356036],
       [0.03825997, 0.96174003],
       [0.99043322, 0.00956678],
       [0.04075481, 0.95924519],
       [0.08638148, 0.91361852],
       [0.07539518, 0.92460482],
       [0.71412648, 0.28587352],
       [0.9892028 , 0.0107972 ]])